#tttBoard {
		width: 600px;
		height: 600px;
		border-width: 0px;
		margin: 0px;
	} 
	section {
		font-color: white;
		font-size: 12px;
		display: inline;
	}
	button {
		position: center;
		width: 100%;
		margin-top: 5%;
	}
	#ticTackToeBoard {
		background: green;
		height: 600px;
		width: 600px;
		display: inline-block;
	}
div {
		background: black;
		width: 33%;
		height: 33%;
		margin: 1px;
		float: left;
	}
	h6 {
		font-size: 15px;
	}
	.playerOne {
		background: url(.circle.png);
		background-repeat: no-repeat;
		position: center;
	}
	.playerTwo {
		background: url(.cross.png);
		background-repeat: no-repeat;
		position: center;		
	}
	.scoreBox {
		display: inline-block;
		width: 33%;
		height: 33px;
		margin: 0px;
		border: 0px;
	}
	
