body {
    margin: 0;
    height: 1000px;
}
section {
	display: inline-block;
}
nav {
	height: 750px;
	width: 25%;
	position: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 750px;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.clicked {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#projectContent {
	margin-left: 25%;
	height: 750px;
	width: 750px;
	border-style: solid;
	border-width: 1px;
}


#ticTackToeBoard {
        height: 606px;
        width: 606px;
        display: inline-block;
        background-color: black;
    }
#ticTackToeBoard > div {
        border-style: solid;
        border-color: white;
        border-width: 1px;
        width: 200px;
        height: 200px;
        float: left;
    }
.playerOne {
        background-image: url("../images/circle.png");
        background-repeat: no-repeat;
        position: center;
    }
.playerTwo {
        background-image: url("../images/cross.png");
        background-repeat: no-repeat;
        position: center;      
    }
#gameText {
    float: right;
    width: 250px;
    height: 100px;
}
.scoreBox {
        display: inline-block;
        width: 200px;
        height: 33px;
        margin: 0px;
        border: 0px;
    }
button {
        margin-left: 25%;
        position: bottom;
        width: 33%;
        margin-top: 5%;
    }

#footballScoreContent {
    
}